{{#each products}}
<div class="product-bucket">
							<a href="products/{{@key}}">
							<img class="bucket-image" src="{{image}}" />
								<div class="product-info">
									
										<p class="product-title">{{title}}</p>
										<p class="product-colors">
											{{#color}}
											<img src="assets/images/colors/color-{{color}}.png" />
											{{/color}}
											</p>
										<p class="product-price">{{price}}</p>
									</a>
								</div>
						</div>
						{{/products}}