<form action="/new" method="POST" class="edit-project">
	<input type="hidden" name="id" value="{{project.id}}">
	<p>  <label>Headline</label>
		<input type="text" placeholder="title" data-type="title" class="post-form-title" name="headline" /></p>

	<p><span>Select number of stars</span>
		<select name="stars">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select></p>
	<p><textarea name="text" rows="5" data-type="comment-text" placeholder="Please enter your comment here..." ></textarea></p>
					<input type="submit" value="Submit" class="save" />
				</form>
				